.slide-container{
    margin-top: 30px;
    border-radius: 8px;
    border: none;
    overflow: hidden;
    .react-slideshow-container .default-nav{
          margin-right: -30px;
          position: absolute;
          right: 230px;
          width: 40px;
          height: 40px;
          &:first-of-type{
        border-right: 0;    
        border-top: 0;
        left: 200px;
          }
    }
  }

  @media all and (max-width: 1350px) {
    .slide-container{
      max-width: 1024px;
      .react-slideshow-container .default-nav{

        &:first-of-type{
      left: 100px;
        }
        &:last-of-type{
      left: 1024px;
        }
  }
    }
    .slide-img{
      max-width: 1024px;
    }
  }