.social {
  .social-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 40%;
    left: 96px;
    list-style: none;
    background: #f5f5f5;
    box-shadow: 0 4px 6px #00000029;
    border-radius: 19px;
    padding: 2px 0;
    .social-item {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 6px;
        &:last-of-type{
            margin-bottom: 0;
        }
      .social-item-link {
        padding: 6px;
        border: 2px solid;
        border-radius: 30px;
        & svg {
          font-size: 28px;
        }
        &.facebook {
          color: #49659f;
        }
        &.youtube {
          color: #f00;
        }
        &.instagram {
        }
        &.tiktok {
          color: #000;
        }
      }
    }
  }
}
